page-inscription {

  ion-content{
    background-image: url('../assets/imgs/inscription.png');

    background-size: 100% auto;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  @media (max-height: 1366px) {
    .spacer{
      margin-bottom: 20px;
    }
    .rounded {
      width: 100%;
      height: 70px;
      border-radius: 10px;
      margin-bottom: 14px;
    }

    #container {
      width: 400px;
      margin-top: 370px;
      margin-left:auto;
      margin-right: auto;
    }
  }

  @media (max-height: 766px) {
    .spacer{
      margin-bottom: 7px;
    }

    .rounded {
      width: 100%;
      height: 60px;
      border-radius: 10px;
      margin-bottom: 7px;
    }

    #container {
      width: 330px;
      margin-top: 240px;
      margin-left:auto;
      margin-right: auto;
    }
  }

  @media (max-height: 640px) {
    .spacer{
      margin-bottom: 7px;
    }

    .rounded {
      width: 100%;
      height: 50px;
      border-radius: 10px;
      margin-bottom: 7px;
    }

    #container {
      width: 290px;
      margin-top: 170px;
      margin-left:auto;
      margin-right: auto;
    }
  }

}
