<ion-content padding>
    <div id="container">
      <form [formGroup]="formgrp" (ngSubmit)="setInformations(information)" >
        <ion-grid >
          <ion-row>
            <ion-col>
              <ion-list>
                <ion-item class="rounded">
                  <ion-input type="text" formControlName="prenom" placeholder="Prénom" [(ngModel)]="information.prenom"></ion-input>
                </ion-item>
                <ion-item class="rounded">
                  <ion-input type="text" formControlName="nom" placeholder="Nom" [(ngModel)]="information.nom"></ion-input>
                </ion-item>
                <ion-item class="rounded">
                  <ion-input type="number" formControlName="telephone" placeholder="Téléphone" [(ngModel)]="information.telephone"></ion-input>
                </ion-item>
                <ion-item class="rounded">
                  <ion-input type="email" formControlName="mail" placeholder="Email" [(ngModel)]="information.mail"
                             pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})">
                  </ion-input>
                </ion-item>
                <ion-item class="rounded">
                  <ion-label>Profil</ion-label>
                  <ion-select formControlName="profil" [(ngModel)]="information.profil">
                    <ion-option value="Libérale">Libérale</ion-option>
                    <ion-option value="TPE">TPE</ion-option>
                    <ion-option value="PME">PME</ion-option>
                    <!--<ion-option value="Particulier">Particulier</ion-option>:
                    <ion-option value="Autre">Autre</ion-option>-->
                  </ion-select>
                </ion-item>
              </ion-list>
              <button ion-button type="submit" class="rounded spacer" color="danger" block [disabled]="!formgrp.valid">Inscription</button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </div>
  </ion-content>
