<ion-content padding>
  <ion-icon class="icon" ion-fixed="" name="md-arrow-round-back" (click)="back()"></ion-icon>
  <p text-center="" class="parag1">COMMUNICATION ET MARKETING</p>
  <p text-center="" id="parag2">Artisans Et Fonction {{profil}}</p>
  <ion-slides pager="true" class="swiper-pagination-white" *ngIf="profil == 'Libérale'">
    <ion-slide>
      <ion-card>
        <ion-card-header class="header">
          PACK SEMESTRIELLE
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col class="text">
                150 € par mois
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="text">
                Conseil - Accompagnement et impartition
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="amount">
                900 €
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <button class="rounded" (click)="getService()">Souscrire</button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header class="header">
          PACK ANNUEL
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col class="text">
                150 € par mois
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="text">
                Conseil - Accompagnement et impartition
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="amount">
                1800 €
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <button class="rounded" (click)="getService()">Souscrire</button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <ion-slides pager="true" class="swiper-pagination-white" *ngIf="profil == 'TPE' || profil == 'PME'">
    <ion-slide>
      <ion-card>
        <ion-card-header class="header">
          PACK SEMESTRIELLE
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col class="text">
                350 € par mois
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="text">
                Conseil - Accompagnement et impartition
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="amount">
                2100 €
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <button class="rounded" (click)="getService()">Souscrire</button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header class="header">
          PACK ANNUEL
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col class="text">
                320 € par mois
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="text">
                Conseil - Accompagnement et impartition
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="amount">
                3840 €
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <button class="rounded" (click)="getService()">Souscrire</button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
