page-pack-comm-marketing {
  ion-content {
    background-image: url('../assets/imgs/pack-communication-marketing.png');
    background-size: 100% 100% !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  @media (max-height: 1024px) {
    .icon {
      font-size: 50px;
      color: white;
      margin-top: 100px;
      margin-left: 30px;
    }
    .parag1{
      font-size: 35px;
      font-weight: bold;
      color: white;
      margin-top: 80px;
    }
    #parag2{
      font-size: 35px;
      color: white;
    }
    .rounded {
      width: 140px;
      height: 55px;
      font-size: 25px;
      border-radius: 20px;
      color: white;
      background-color: darkred;
    }
    ion-card {
      height: 450px;
      width: 200px;
    }
    .swiper-pagination-white{
      margin-top: -250px !important;
    }
    .header {
      background-color: #eeeeee;
      color: darkred;
      font-size: 30px;
      font-weight: bolder;
    }
    .amount {
      font-size: 80px;
      font-weight: bolder;
      color: darkred;
    }
    .text {
      font-size: 28px;
    }
    .text1 {
      font-size: 45px;
    }
  }
  @media (max-height: 766px) {
    .icon {
      font-size: 45px;
      color: white;
      margin-top: 75px;
      margin-left: 30px;
    }
    .parag1{
      font-size: 30px;
      font-weight: bold;
      color: white;
      margin-top: 60px;
    }
    #parag2{
      font-size: 30px;
      color: white;
    }
    .rounded {
      width: 130px;
      height: 45px;
      border-radius: 20px;
      color: white;
      background-color: darkred;
    }
    ion-card {
      height: 380px;
      width: 180px;
      margin-top: 80px !important;
    }
    .swiper-pagination-white{
      margin-top: -200px !important;
    }
    .header {
      background-color: #eeeeee;
      color: darkred;
      font-size: 25px;
      font-weight: bolder;
    }
    .amount {
      font-size: 60px;
      font-weight: bolder;
      color: darkred;
    }
    .text {
      font-size: 22px;
    }
    .text1 {
      font-size: 30px;
    }
  }
  @media (max-height: 640px) {
    .icon {
      font-size: 30px;
      color: white;
      margin-top: 55px;
      margin-left: 10px;
    }
    .parag1{
      font-size: 18px;
      font-weight: bold;
      color: white;
      margin-top: 42px;
    }
    #parag2{
      font-size: 18px;
      color: white;
    }
    .rounded {
      width: 100px;
      height: 35px;
      font-size: 15px;
      border-radius: 20px;
      color: white;
      background-color: darkred;
    }
    ion-card {
      height: 300px;
      width: 200px;
      margin-top: -20px !important;
    }
    .swiper-pagination-white{
      margin-top: -130px !important;
    }
    .header {
      background-color: #eeeeee;
      color: darkred;
      font-size: 20px;
      font-weight: bolder;
    }
    .amount {
      font-size: 50px;
      font-weight: bolder;
      color: darkred;
    }
    .text {
      font-size: 16px;
    }
    .text1 {
      font-size: 25px;
    }
  }

  @media (max-height: 575px) {
    .icon {
      font-size: 30px;
      color: white;
      margin-top: 55px;
      margin-left: 10px;
    }
    .parag1{
      font-size: 16px;
      font-weight: bold;
      color: white;
      margin-top: 42px;
    }
    #parag2{
      font-size: 16px;
      color: white;
    }
    .rounded {
      width: 100px;
      height: 35px;
      font-size: 15px;
      border-radius: 20px;
      color: white;
      background-color: darkred;
    }
    ion-card {
      height: 300px;
      width: 200px;
      margin-top: 40px !important;
    }
    .swiper-pagination-white{
      margin-top: -130px !important;
    }
    .header {
      background-color: #eeeeee;
      color: darkred;
      font-size: 20px;
      font-weight: bolder;
    }
    .amount {
      font-size: 50px;
      font-weight: bolder;
      color: darkred;
    }
    .text {
      font-size: 16px;
    }
    .text1 {
      font-size: 25px;
    }
  }
}
