<ion-content>
<ion-grid>
  <ion-row>
    <ion-col class="col1" (click)="packGestionAdmin()">
        <ion-icon name="ios-arrow-forward"></ion-icon>
        <img src="assets/imgs/menu_01.jpg" alt="">
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="col2" (click)="packGestionTres()">
      <ion-icon name="ios-arrow-forward"></ion-icon>
        <img src="assets/imgs/menu_02.jpg" alt="">
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="col3" (click)="packCommMarke()">
      <ion-icon name="ios-arrow-forward" ></ion-icon>
        <img src="assets/imgs/menu_03.jpg" alt="">
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
