page-services {

  .grid{
    padding: 0;
  }

  ion-content{
    background-size: 100% 100% !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    .col{
      text-align: center;
      padding: 50px 0 70px;
        
      img{
        width: 50%;
      }
      ion-icon {
          margin-top: 35px;
          margin-right: 10px;
      }
    }

    .col1{
      background: #283979;
    }

    .col2{
      background: #ffffff;
    }

    .col3{
      background: #bd2e25;
    }
  }
  @media (max-height: 1366px) {
    ion-icon {
      font-size: 60px;
      font-weight : bolder;
      float: right;
      margin-top: 80px !important;
    }
    .col1{
      color: white;
    }
    .col2{
      color: darkblue;
    }
    .col3{
      color: white;
    }
  }
  @media (max-height: 766px) {
    ion-icon {
      font-size: 40px;
      font-weight : bolder;
      float: right;
      margin-top: 35px !important;
    }
    .col1{
      color: white;
    }
    .col2{
      color: darkblue;
    }
    .col3{
      color: white;
    }
  }
  @media (max-height: 640px) {
    ion-icon {
      font-size: 30px;
      font-weight: bolder;
      float: right;
      margin-top: 35px !important;
    }
    .col1{
      color: white;
      float: right;
    }
    .col2{
      color: darkblue;
    }
    .col3{
      color: white;
    }
  }
  @media (max-height: 575px) {
    ion-icon {
      font-size: 30px;
      font-weight: bolder;
      float: right;
      margin-top: 35px !important;
    }
    .col1{
      color: white;
      float: right;
    }
    .col2{
      color: darkblue;
    }
    .col3{
      color: white;
    }
  }

}
