<ion-content padding>
  <ion-icon class="icon" ion-fixed="" name="md-arrow-round-back" (click)="back()"></ion-icon>
  <p text-center="" class="parag1">GESTION ADMINISTRATIVE</p>
  <p text-center="" id="parag2">Fonction {{profil}}</p>
  <ion-slides pager="true" class="swiper-pagination-fraction" *ngIf="profil == 'Libérale' ">
    <ion-slide>
      <ion-card>
        <ion-card-header class="header">
          PACK TRIMESTRIELLE
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col class="text">
                120 €
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="text">
                par mois
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="text">
                Forfait 30 heures
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="amount">
                360 €
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <button class="rounded" (click)="getService()">Souscrire</button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
    <ion-card>
    <ion-card-header class="header">
      PACK SEMESTRIELLE
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col class="text">
            115 €
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="text">
            par mois
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="text">
            Forfait 30 heures
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="amount">
            690 €
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <button class="rounded" (click)="getService()">Souscrire</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
    </ion-card>
  </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header class="header">
          PACK ANNUEL
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col class="text">
                110 €
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="text">
                par mois
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="amount">
                1320 €
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <button class="rounded" (click)="getService()">Souscrire</button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
  <ion-slides pager="true" class="swiper-pagination-fraction" *ngIf="profil == 'TPE' || profil == 'PME' ">
    <ion-slide>
      <ion-card>
        <ion-card-header class="header">
          PACK TRIMESTRIELLE
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col class="text">
                140 €
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="text">
                par mois
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="text">
                Forfait 30 heures
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="amount">
                420 €
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <button class="rounded" (click)="getService()">Souscrire</button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
    <ion-card>
    <ion-card-header class="header">
      PACK SEMESTRIELLE
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col class="text">
            135 €
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="text">
            par mois
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="text">
            Forfait 30 heures
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="amount">
            810 €
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <button class="rounded" (click)="getService()">Souscrire</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
    </ion-card>
  </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header class="header">
          PACK ANNUEL
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col class="text">
                130 €
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="text">
                par mois
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="amount">
                1560 €
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <button class="rounded" (click)="getService()">Souscrire</button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
