page-pack-gestion-admin {

  ion-content{
    background-image: url('../assets/imgs/pack-gestion-administrative.png');
    background-size: 100% 100% !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  @media (max-height: 1024px) {
    .icon{
      font-size: 50px;
      color: darkblue;
      margin-top: 100px;
      margin-left: 30px;
    }
    .parag1{
      font-size: 35px;
      font-weight: bold;
      color: darkblue;
      margin-top: 80px;
    }
    #parag2{
      font-size: 35px;
      color: darkblue;
    }
    .rounded {
      width: 140px;
      height: 55px;
      font-size: 25px;
      border-radius: 20px;
      color: white;
      background-color: darkblue;
    }
    ion-card{
      height: 450px;
      width: 200px;
    }
    .swiper-pagination-fraction{
      margin-top: -250px !important;
    }
    .header{
      background-color: darkblue;
      color:white;
      font-size: 30px;
      font-weight : bolder;
    }
    .amount{
      font-size: 80px;
      font-weight : bolder;
      color: darkblue;
    }
    .text{
      font-size: 28px;
    }
    .text1{
      font-size: 45px;
    }
  }
  @media (max-height: 766px) {
    .icon{
      font-size: 50px;
      color: darkblue;
      margin-top: 75px;
      margin-left: 30px;
    }
    .parag1{
      font-size: 30px;
      font-weight: bold;
      color: darkblue;
      margin-top: 65px;
    }
    #parag2{
      font-size: 30px;
      color: darkblue;
    }
    .rounded {
      width: 130px;
      height: 45px;
      border-radius: 20px;
      color: white;
      background-color: darkblue;
    }
    ion-card{
      height: 380px;
      width: 180px;
      margin-top: 80px !important;
    }
    .swiper-pagination-fraction{
      margin-top: -200px !important;
    }
    .header{
      background-color: darkblue;
      color:white;
      font-size: 25px;
      font-weight : bolder;
    }
    .amount{
      font-size: 60px;
      font-weight : bolder;
      color: darkblue;
    }
    .text{
      font-size: 22px;
    }
    .text1{
      font-size: 30px;
    }
  }
  @media (max-height: 640px) {
    .icon{
      font-size: 30px;
      color: darkblue;
      margin-top: 55px;
      margin-left: 10px;
    }
    .parag1{
      font-size: 20px;
      font-weight: bold;
      color: darkblue;
      margin-top: 40px;
    }
    #parag2{
      font-size: 20px;
      color: darkblue;
    }
    .rounded {
      width: 100px;
      height: 35px;
      font-size: 15px;
      border-radius: 20px;
      color: white;
      background-color: darkblue;
    }
    ion-card{
      height: 300px;
      width: 200px;
      margin-top: -20px !important;
    }
    .swiper-pagination-fraction{
      margin-top: -130px !important;
    }
    .header{
      background-color: darkblue;
      color:white;
      font-size: 20px;
      font-weight : bolder;
    }
    .amount{
      font-size: 50px;
      font-weight : bolder;
      color: darkblue;
    }
    .text{
      font-size: 16px;
    }
    .text1{
      font-size: 25px;
    }
  }

  @media (max-height: 640px) {
    .icon{
      font-size: 30px;
      color: darkblue;
      margin-top: 55px;
      margin-left: 10px;
    }
    .parag1{
      font-size: 20px;
      font-weight: bold;
      color: darkblue;
      margin-top: 40px;
    }
    #parag2{
      font-size: 20px;
      color: darkblue;
    }
    .rounded {
      width: 100px;
      height: 35px;
      font-size: 15px;
      border-radius: 20px;
      color: white;
      background-color: darkblue;
    }
    ion-card{
      height: 300px;
      width: 200px;
      margin-top: 40px !important;
    }
    .swiper-pagination-fraction{
      margin-top: -130px !important;
    }
    .header{
      background-color: darkblue;
      color:white;
      font-size: 20px;
      font-weight : bolder;
    }
    .amount{
      font-size: 50px;
      font-weight : bolder;
      color: darkblue;
    }
    .text{
      font-size: 16px;
    }
    .text1{
      font-size: 25px;
    }
  }

}
