page-home {
  ion-content{
    background-image: url('../assets/imgs/agent-hb-logo.png');
    background-size: 100% 100% !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}
