page-description-gestion-admin {
    ion-content{
      background-image: url('../assets/imgs/pack-gestion-administrative.png');
      background-size: 100% 100% !important;
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }

    @media (max-height: 1024px) {
      .icon{
        font-size: 50px;
        color: darkblue;
        margin-top: 100px;
        margin-left: 30px;
      }
      p{
        font-size: 15px;
        color: black;
      }
      .checkbox{
        font-size: 16px;
        color: black;
        margin-bottom: 15px;
      }
      .parag1{
        font-size: 30px;
        font-weight: bold;
        color: darkblue;
        margin-top: 85px;
      }
      .rounded {
        width: 130px;
        height: 60px;
        font-size: 25px;
        border-radius: 20px;
        color: white;
        background-color: darkblue;
      }
    }
    @media (max-height: 766px) {
      .icon{
        font-size: 50px;
        color: darkblue;
        margin-top: 75px;
        margin-left: 30px;
      }
      p{
        font-size: 20px;
        color: black;
      }
      .parag1{
        font-size: 30px;
        font-weight: bold;
        color: darkblue;
        margin-top: 65px;
      }
      .rounded {
        width: 120px;
        height: 50px;
        font-size: 20px;
        border-radius: 20px;
        color: white;
        background-color: darkblue;
      }
    }
    @media (max-height: 640px) {
      .icon{
        font-size: 30px;
        color: darkblue;
        margin-top: 55px;
        margin-left: 10px;
      }
      p{
        font-size: 15px;
        color: black;
      }
      .parag1{
        font-size: 20px;
        font-weight: bold;
        color: darkblue;
        margin-top: 40px;
      }
      .parag2{
        margin-top: 30px;
      }
      .rounded {
        width: 100px;
        height: 35px;
        font-size: 15px;
        border-radius: 20px;
        color: white;
        background-color: darkblue;
      }
    }
}
