<ion-content padding>
  <ion-icon class="icon" ion-fixed="" name="md-arrow-round-back" (click)="back()">
  </ion-icon>
  <p text-center="" class="parag1">GESTION ADMINISTRATIVE</p>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div id="form_items0">
          <div class="checkbox">
            <label for="form_items0_0" class="">
              <input type="checkbox" id="form_items0_0" name="form[items0][]" value="0">
              Rédaction courriers (relecture, correction et mise en page de tout document commercial et institutionnel. Création de diaporamas, dossiers de soutenance, lettre d’information, offres commerciales) , notes, synthèses, comptes rendus, rapports….</label>
          </div>
          <div class="checkbox"><label for="form_items0_1" class=""><input type="checkbox" id="form_items0_1" name="form[items0][]" value="1"> Mise en forme de tableaux et présentation powerpoint</label></div><div class="checkbox"><label for="form_items0_2" class=""><input type="checkbox" id="form_items0_2" name="form[items0][]" value="2"> Démarches administratives</label></div><div class="checkbox"><label for="form_items0_3" class=""><input type="checkbox" id="form_items0_3" name="form[items0][]" value="3"> Interface entre vous et vos fournisseurs ou vos interlocuteurs externes</label></div><div class="checkbox"><label for="form_items0_4" class=""><input type="checkbox" id="form_items0_4" name="form[items0][]" value="4"> Gestion d’agenda, rendez-vous – déplacements, séminaires….</label></div><div class="checkbox"><label for="form_items0_5" class=""><input type="checkbox" id="form_items0_5" name="form[items0][]" value="5"> Campagnes d'emailing et de mailing avec analyse des retombées</label></div><div class="checkbox"><label for="form_items0_6" class=""><input type="checkbox" id="form_items0_6" name="form[items0][]" value="6"> Numérisation, classement, indexation de vos documents/données</label></div><div class="checkbox"><label for="form_items0_7" class=""><input type="checkbox" id="form_items0_7" name="form[items0][]" value="7"> Mise en place d'un système d'archivage</label></div><div class="checkbox"><label for="form_items0_8" class=""><input type="checkbox" id="form_items0_8" name="form[items0][]" value="8"> Pilotage de projets</label></div><div class="checkbox"><label for="form_items0_9" class=""><input type="checkbox" id="form_items0_9" name="form[items0][]" value="9"> Autres suivant la nature de vos besoins</label></div></div>
        <!--<p class="">
          Courriers administratifs, comptable ou commercial, tableaux, graphiques -Gestion d'agenda Classement,
          archivage Accueil Déplacement, Recrutement et gestion RH, séminaire etc...
        </p>
        <p>
          Vous disposerez selon vos besoins d’une assistante qui prendra en charge totalement ou partiellement
          vos tâches administratives depuis nos bureaux. Un déplacement sur place peut être programmé au besoin.
        </p>
        <p>
          Nous mettrons les outils et moyens nécessaires pour gérer au mieux et à moindre coûts tout vos travaux.
          Si vos besoins sont ponctuels un devis vous sera envoyé pour la nature des travaux souhaités.
        </p>
        <p>
          Si vos besoins sont permanents un forfait vous sera proposé pour maitriser vos prévisionnels de dépenses.
        </p>-->
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center="">
        <button class="rounded" (click)="getPack()">Souscrire</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
