<ion-content padding>
  <ion-icon class="icon" ion-fixed="" name="md-arrow-round-back" (click)="back()"></ion-icon>
  <p text-center="" class="parag1">GESTION DE TRÉSORERIE</p>
  <p text-center="" id="parag2">Fonction {{profil}}</p>

  <ion-grid *ngIf="profil == 'Libérale'" text-center="">
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header class="header">
            PACK ANNUEL
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col class="text">
                  120 € par mois
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="amount">
                  1440 €
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <button class="rounded" (click)="getService()">Souscrire</button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="profil == 'TPE' || profil == 'PME'" text-center="">
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header class="header">
            PACK ANNUEL
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col class="text">
                  140 € par mois
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="amount">
                  1800 €
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <button class="rounded" (click)="getService()">Souscrire</button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
