<ion-content padding>
  <ion-icon class="icon" ion-fixed="" name="md-arrow-round-back" (click)="back()"></ion-icon>
  <p text-center="" class="parag0">COMMUNICATION ET MARKETING</p>
  <ion-grid>
    <ion-row>
      <ion-col text-left="">
        <div id="form"><div class="form-group"><label class="control-label required">BRANDING </label><div id="form_items0"><div class="checkbox"><label for="form_items0_0" class=""><input type="checkbox" id="form_items0_0" name="form[items0][]" value="0"> Audit de marque</label></div><div class="checkbox"><label for="form_items0_1" class=""><input type="checkbox" id="form_items0_1" name="form[items0][]" value="1"> Naming &amp; Infographie</label></div><div class="checkbox"><label for="form_items0_2" class=""><input type="checkbox" id="form_items0_2" name="form[items0][]" value="2"> Stratégie de positionnement</label></div><div class="checkbox"><label for="form_items0_3" class=""><input type="checkbox" id="form_items0_3" name="form[items0][]" value="3"> Plate forme visuelle</label></div></div></div><div class="form-group"><label class="control-label required">NOTORIETE </label><div id="form_items1"><div class="checkbox"><label for="form_items1_0" class=""><input type="checkbox" id="form_items1_0" name="form[items1][]" value="0"> Publicité traditionnelle</label></div><div class="checkbox"><label for="form_items1_1" class=""><input type="checkbox" id="form_items1_1" name="form[items1][]" value="1"> Marketing du contenu</label></div><div class="checkbox"><label for="form_items1_2" class=""><input type="checkbox" id="form_items1_2" name="form[items1][]" value="2"> Médias sociaux</label></div><div class="checkbox"><label for="form_items1_3" class=""><input type="checkbox" id="form_items1_3" name="form[items1][]" value="3"> Achat de mot clés et référencement naturel</label></div><div class="checkbox"><label for="form_items1_4" class=""><input type="checkbox" id="form_items1_4" name="form[items1][]" value="4"> Evénement sur mesure</label></div><div class="checkbox"><label for="form_items1_5" class=""><input type="checkbox" id="form_items1_5" name="form[items1][]" value="5"> Remarketing dynamique</label></div><div class="checkbox"><label for="form_items1_6" class=""><input type="checkbox" id="form_items1_6" name="form[items1][]" value="6"> Foires commerciales et salons - Application web - jeux et concours</label></div></div></div><div class="form-group"><label class="control-label required">MARKETING STRATÉGIQUE </label><div id="form_items2"><div class="checkbox"><label for="form_items2_0" class=""><input type="checkbox" id="form_items2_0" name="form[items2][]" value="0"> Planification &amp; budgétisation</label></div><div class="checkbox"><label for="form_items2_1" class=""><input type="checkbox" id="form_items2_1" name="form[items2][]" value="1"> Consulting</label></div><div class="checkbox"><label for="form_items2_2" class=""><input type="checkbox" id="form_items2_2" name="form[items2][]" value="2"> Diagnostic stratégique</label></div><div class="checkbox"><label for="form_items2_3" class=""><input type="checkbox" id="form_items2_3" name="form[items2][]" value="3"> Etude de marché</label></div><div class="checkbox"><label for="form_items2_4" class=""><input type="checkbox" id="form_items2_4" name="form[items2][]" value="4"> Veille concurrentielle</label></div><div class="checkbox"><label for="form_items2_5" class=""><input type="checkbox" id="form_items2_5" name="form[items2][]" value="5"> Etude de positionnement</label></div><div class="checkbox"><label for="form_items2_6" class=""><input type="checkbox" id="form_items2_6" name="form[items2][]" value="6"> Benchmarking</label></div><div class="checkbox"><label for="form_items2_7" class=""><input type="checkbox" id="form_items2_7" name="form[items2][]" value="7"> Lancement de produit</label></div><div class="checkbox"><label for="form_items2_8" class=""><input type="checkbox" id="form_items2_8" name="form[items2][]" value="8"> Stratégie commerciale</label></div><div class="checkbox"><label for="form_items2_9" class=""><input type="checkbox" id="form_items2_9" name="form[items2][]" value="9"> Plan de communication</label></div><div class="checkbox"><label for="form_items2_10" class=""><input type="checkbox" id="form_items2_10" name="form[items2][]" value="10"> Création d’offre commerciale</label></div></div></div><input type="hidden" id="form__token" name="form[_token]" value="N8tvxhB9NNbCdFjJ5GZZ99rGqGCFi81hcmwooecBGUg"></div>
        <!--
        <p>
         <b>BRANDING</b> <br>

          - Audit de marque <br>
          -  Naming & Infographie <br>
          - Stratégie de positionnement <br>
          -  Plate forme visuelle
        </p>
        <p>
          <b>NOTORIETE</b> <br>
          - Publicité traditionnelle<br> -
          Marketing du contenu<br> -
          Médias sociaux<br> -
          Achat de mot clés et référencement naturel<br> -
          Evénement sur mesure<br> -
          Remarketing dynamique<br> -
          Foires commerciales et salons<br> - Application web<br> - jeux et concours
        </p>
        <p>
          <b>MARKETING STRATÉGIQUE</b> <br>
          (Planification & budgétisation<br> -
          Consulting<br> -
          Diagnostic stratégique<br> -
          Etude de marché<br> -
          Veille concurrentielle<br> -
          Etude de positionnement<br> -
          Benchmarking<br> -
          Lancement de produit<br> -
          Stratégie commerciale<br> -
          Plan de communication<br> -
          Création d’offre commerciale
        </p>
        <p>
          <b>COM’ INTERNE</b> <br>
          - Marque employeur<br> -
          Campagne de recrutement<br> -
          Médias sociaux<br> -
          Partenariats<br> -
          Ecoles/Entreprises
        </p>-->
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center="">
        <button class="rounded" (click)="getPack()">Souscrire</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
