page-pre-inscription {
  $base: 0.6rem;
  ion-content {
    background-image: url('../assets/imgs/inscription.png');
    background-size: 100% auto;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .btn{
    font-weight: bold;
  }
  .btn1 {
    background-color: #1a237e;
  }
  .btn2 {
    background-color: #b61c1e;
  }
  ion-icon {
    margin-right: 10px;
  }
  .parag {
    color: white;
    font-weight: bold;
    font-size: 22px;
    margin-top: 180px;
    text-align: center;
  }
  .parag1 {
    color: white;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
  }
  .parag2{
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }
}
