<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <p class="parag">Bienvenue !</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p class="parag1">FAITES VOTRE INSCRIPTION</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button class="btn" ion-button (click)="inscrire()" color="light" block outline>Inscription</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p class="parag2">-- OU --</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button class="btn1" ion-button (click)="inscrireAvecFacebook()" block><ion-icon name="logo-facebook"></ion-icon>Inscription via Facebook</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button class="btn2" ion-button (click)="inscrireAvecGoogle()" block><ion-icon name="logo-googleplus"></ion-icon>Inscription via Google plus</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

