<ion-content padding>
  <ion-icon class="icon" ion-fixed="" name="md-arrow-round-back" (click)="back()"></ion-icon>
  <p text-center="" class="parag0">GESTION DE TRÉSORERIE</p>
  <ion-grid>
    <ion-row>
      <ion-col >
        <div class="form-group"><label class="control-label required"> </label><div id="form_items0"><div class="checkbox"><label for="form_items0_0" class=""><input type="checkbox" id="form_items0_0" name="form[items0][]" value="0"> Suivi des règlements clients</label></div><div class="checkbox"><label for="form_items0_1" class=""><input type="checkbox" id="form_items0_1" name="form[items0][]" value="1"> Relance des impayés</label></div><div class="checkbox"><label for="form_items0_2" class=""><input type="checkbox" id="form_items0_2" name="form[items0][]" value="2"> Rapprochement bancaire</label></div><div class="checkbox"><label for="form_items0_3" class=""><input type="checkbox" id="form_items0_3" name="form[items0][]" value="3"> Préparation des notes de frais</label></div><div class="checkbox"><label for="form_items0_4" class=""><input type="checkbox" id="form_items0_4" name="form[items0][]" value="4"> Préparation des règlements fournisseurs</label></div><div class="checkbox"><label for="form_items0_5" class=""><input type="checkbox" id="form_items0_5" name="form[items0][]" value="5"> Déclaration de TVA</label></div><div class="checkbox"><label for="form_items0_6" class=""><input type="checkbox" id="form_items0_6" name="form[items0][]" value="6"> Enregistrements des factures clients et fournisseurs</label></div><div class="checkbox"><label for="form_items0_7" class=""><input type="checkbox" id="form_items0_7" name="form[items0][]" value="7"> Journal/Livre de caisse</label></div><div class="checkbox"><label for="form_items0_8" class=""><input type="checkbox" id="form_items0_8" name="form[items0][]" value="8"> Gestion du Personnel</label></div></div></div>
        <!--<p class="parag1">
          En partenariat avec plusieurs cabinets d’expert comptable nous assurons :
        </p>
        <p>
          - Suivi des règlements clients
        </p>
        <p>
          - Relance des impayés
        </p>
        <p>
          - Rapprochement bancaire
        </p>
        <p>
          - Préparation des notes de frais
        </p>
        <p>
          - Préparation des règlements fournisseurs
        </p>
        <p>
          - Déclaration de TVA
        </p>
        <p>
          - Enregistrements des factures clients et fournisseurs
        </p>
        <p>
          Journal/Livre de caisse
        </p>
        <p>
          - Gestion du Personnel
        </p>-->
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center="">
        <button class="rounded" (click)="getPack()">Souscrire</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
